<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 定义数据源Bean,使用C3P0数据源实现 -->
	<!-- 设置连接数据库的驱动、URL、用户名、密码、连接池最大连接数、最小连接数、初始连接池等参数 -->
	  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/qufenqi"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
		<property name="maxPoolSize" value="100"></property>
		<property name="minPoolSize" value="1"/>
		<property name="initialPoolSize" value="1"/>
		<property name="maxIdleTime" value="30"/>
	  </bean>
	  
	<!-- 定义Hibernate的SessionFactory -->
	<!-- 依赖注入数据源，注入正式上面的dateSource -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<!-- mappingResources属性用来列出全部的映射文件 -->
		<property name="mappingResources">
			<list>
				<!-- 以下用来列出Hibernate的 映射文件-->
				<value>com/qufenqi/entity/User.hbm.xml</value>
				<value>com/qufenqi/entity/Goods.hbm.xml</value>
				<value>com/qufenqi/entity/GoodsType.hbm.xml</value>
				<value>com/qufenqi/entity/Seller.hbm.xml</value>
				<value>com/qufenqi/entity/Repayment.hbm.xml</value>
				<value>com/qufenqi/entity/PeriodPlan.hbm.xml</value>
				<value>com/qufenqi/entity/Order.hbm.xml</value>
				<value>com/qufenqi/entity/Logistics.hbm.xml</value>
				<value>com/qufenqi/entity/InterestPlan.hbm.xml</value>
				<value>com/qufenqi/entity/Coupon.hbm.xml</value>
				<value>com/qufenqi/entity/Delivery.hbm.xml</value>
				<value>com/qufenqi/entity/Manager.hbm.xml</value>
				<value>com/qufenqi/entity/SellerGoods.hbm.xml</value>
			</list>
		</property>
		
		<!-- 定义Hibernate的SessionFactory的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 指定数据库方言 -->
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 是否自动创建表 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- 是否生成sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!--  
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				-->
			</props>
		</property>
	</bean>
	
	<!-- 定义实体类 -->
	<bean id="user" class="com.qufenqi.entity.User"></bean>
	<bean id="goods" class="com.qufenqi.entity.Goods"></bean>
	<bean id="goodsType" class="com.qufenqi.entity.GoodsType"></bean>
	<bean id="seller" class="com.qufenqi.entity.Seller"></bean>
	<bean id="sellergoods" class="com.qufenqi.entity.SellerGoods"></bean>
	<bean id="manager" class="com.qufenqi.entity.Manager"></bean>
	<!-- 定义DAO： -->  
	<bean id="goodsDaoImpl" class="com.qufenqi.dao.impl.GoodsDaoImpl">
		<property name="goods" ref="goods"></property>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDao" class="com.qufenqi.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="paymentDao" class="com.qufenqi.dao.impl.PaymentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="sellerBaseDao" class="com.qufenqi.dao.impl.SellerBaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="sellerDao" class="com.qufenqi.dao.impl.SellerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="managerDao" class="com.qufenqi.dao.impl.ManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="pageBaseDao" class="com.qufenqi.dao.impl.PageBaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 定义业务逻辑Service -->
	<bean id="goodsServiceImpl" class="com.qufenqi.service.impl.GoodsServiceImpl">
		<property name="goodsDaoImpl" ref="goodsDaoImpl"></property>
		<property name="pageBaseDao" ref="pageBaseDao"></property>
		<property name="goods" ref="goods"></property>
	</bean>
	<bean id="userService" class="com.qufenqi.service.impl.UserServiceImpl">
	  	<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="paymentService" class="com.qufenqi.service.impl.PaymentServiceImpl">
	  	<property name="paymentDao" ref="paymentDao"></property>
	</bean>
	<bean id="sellerService" class="com.qufenqi.service.impl.SellerServiceImpl">
	  	<property name="sellerBaseDao" ref="sellerBaseDao"/>
	  	<property name="userDao" ref="userDao"></property>
	  	<property name="sellerDao" ref="sellerDao"></property>
	  	<property name="pageBaseDao" ref="pageBaseDao"></property>
	</bean>
	<bean id="managerService" class="com.qufenqi.service.impl.ManagerServiceImpl">
	  	<property name="managerDao" ref="managerDao"></property>
	</bean>
	
	<bean id="goodsAction" class="com.qufenqi.action.GoodsAction">
		<property name="goodsserviceimpl" ref="goodsServiceImpl"></property>
		<property name="goods" ref="goods"></property>
	</bean>
	<!-- 定义Action -->
	  <bean id="loginAction" class="com.qufenqi.action.LoginAction" scope="prototype">
	  	<property name="user" ref="user"></property>
		<property name="userService" ref="userService"></property>
	  </bean>
	  <bean id="userAction" class="com.qufenqi.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	  </bean>
	  
	  <bean id="paymentAction" class="com.qufenqi.action.PaymentAction" scope="prototype">
		<property name="paymentService" ref="paymentService"></property>
		<property name="userService" ref="userService"></property>
	  </bean>
	  <bean id="sellerAction" class="com.qufenqi.action.SellerAction" scope="prototype">
	  	<property name="sellerService" ref="sellerService"/>
	  	<property name="managerService" ref="managerService"/>
	  	<property name="seller" ref="seller"></property>
	  	<property name="manager" ref="manager"/>
	  	<property name="user" ref="user"></property>
	  </bean>
	  <bean id="managerAction" class="com.qufenqi.action.ManagerAction" scope="prototype">
		<property name="managerService" ref="managerService"></property>
	  </bean>
	  
</beans>